$primary-font-color: #333;
$orange-btn-color: #e67e22;

$color-white: #fff;
$color-black: #000;

$background-secondary-color: #fdf2e9;
$hover-btn-color: #cf711f;

$heading-tertiary-color: #555;

$grey-light: #6f6f6f;
